body {
  background: url("./assets/fondoClaro.jpg") no-repeat center center fixed;
  background-size: cover;
  transition: background 0.5s ease, background-color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

body.dark-mode {
  background: url("./assets/fondoOscuro.jpg") no-repeat center center fixed;
  background-size: cover;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background 0.5s ease;
}

body.dark-mode::before {
  background: rgba(0, 0, 0, 0.5);
}


.button-options {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.option-btn {
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.option-btn:hover {
  background-color: #005fa3;
}

.card-container {
  background-color: #ffffff85;
  border-radius: 15px;
  padding: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 60%;
  max-height: 70%;
  overflow-y: auto;
}

.card-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.card-header .img-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #333;
}

.card-header .text-chat {
  color: black;
  margin: 0;
  font-size: 20px;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

}

.messages-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  overflow-y: auto;
}

.message-box {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;  
}


.message-box.left {
  background-color: #f1f1f1;
  color: black;
  font-size: 15px;
  align-self: flex-start;
}

.message-box.right {
  background-color: #333;
  color: #fff;
  font-size: 15px;
  align-self: flex-end;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.message-input {
  padding: 5px;
  border-top: 1px solid #ccc;
}

.message-input form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 16px;
}

.message-input .message-send {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  resize: vertical;
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto;
}

.message-input .button-send {
  background-color: #333;
  color: #fff;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  align-self: flex-end;
}

.message-input .button-send:hover {
  background-color: #f1f1f1;
  color: #333;
}

.main-header {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 100;
}
/* From Uiverse.io by cuzpq */ 
.theme-checkbox {
  --toggle-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefefdb 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

/* 🌙 MODO OSCURO */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode .card-container {
  background-color: #1e1e1ed4;
}

body.dark-mode .card-header {
  border-bottom: 1px solid #444;
}

body.dark-mode .text-chat {
  color: #fff;
}

body.dark-mode .message-box.left {
  background-color: #2a2a2a;
  color: #fff;
}

body.dark-mode .message-box.right {
  background-color: #005fa3;
}

body.dark-mode .message-input .button-send {
  background-color: #0078d4;
  color: #fff;
}

body.dark-mode .message-input .button-send:hover {
  background-color: #005fa3;
}
