body {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.card-container {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 45%;
  max-height: 60%;
  overflow-y: auto;
}

.card-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.card-header .img-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #333;
}

.card-header .text-chat {
  color: black;
  margin: 0;
  font-size: 20px;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

}

.messages-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  overflow-y: auto;
}

.message-box {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.message-box.left {
  background-color: #f1f1f1;
  color: black;
  font-size: 15px;
  align-self: flex-start;
}

.message-box.right {
  background-color: #333;
  color: #fff;
  font-size: 15px;
  align-self: flex-end;
}

.message-input {
  padding: 5px;
  border-top: 1px solid #ccc;
}

.message-input form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 16px;
}

.message-input .message-send {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  resize: vertical;
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto;
}

.message-input .button-send {
  background-color: #333;
  color: #fff;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  align-self: flex-end;
}

.message-input .button-send:hover {
  background-color: #f1f1f1;
  color: #333;
}